<app-bread-crumb [items]="[{ label: 'Lançamentos', link: '/entries'},{ label: pageTitle}]"></app-bread-crumb>

<div class="row mb-3">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
  </div>
  <div class="col-md">
    <a routerLink="/entries" class="btn btn-light right">Voltar</a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o Lançamento
    </div>
    <div class="card-body">
      <!--Linha 1-->
      <div class="d-flex flex-row mb-3">
        <!--Tipo-->
        <div class="form-group col-md-4 ajuste">
          <label for="type">Tipo</label>
          <select class="form-control ajuste" name="type" formControlName="type" id="type">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
          </select>

          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched">
            <div *ngIf="resourceForm.get('type').errors.required">Dados obrigatórios</div>
          </div>
        </div>

        <!--Nome-->
        <div class="form-group col-md-4">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nome do Lançamento">

          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Dados obrigatórios</div>
            <div *ngIf="resourceForm.get('name').errors.minlength">Deve ter no mínimo 2 caracteres</div>
          </div>
        </div>

        <!--Valor-->
        <div class="form-group col-md-4">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                R$
              </div>
            </div>
            <input type="text" class="form-control" formControlName="amount" id="amount" placeholder="Informe o valor">
          </div>

          <div class="text-danger" *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
            <div *ngIf="resourceForm.get('amount').errors.required">Dados obrigatórios</div>
          </div>
        </div>
      </div>
      <!--Linha 2-->
      <div class="d-flex flex-row mb-3">
        <!--Data-->
        <div class="form-group col-md-4">
          <label for="date">Data</label>
          <p-calendar
            [inputStyle]="{'width': '100%', 'border': 'none', 'cursor': 'pointer', 'text-align': 'right'}"
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true">
          </p-calendar>
          <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').touched">
            <div *ngIf="resourceForm.get('date').errors.required">Dados obrigatórios</div>
          </div>
        </div>
        <!--Pago-->
        <div class="form-group col-md-4">
          <label for="paid">Pago</label>
          <div class="btn-group" [style.margin-left]="'10px'">
            <label (click)="resourceForm.get('paid').setValue(true)" [class.active]="resourceForm.get('paid').value == true" class="btn btn-outline-info">
              Pago
            </label>
            <label (click)="resourceForm.get('paid').setValue(false)" [class.active]="resourceForm.get('paid').value == false" class="btn btn-outline-info">
              Pendente
            </label>
          </div>
          <div class="text-danger" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').touched">
            <div *ngIf="resourceForm.get('paid').errors.required">Dados obrigatórios</div>
          </div>
        </div>
        <!--Categoria-->
        <div class="form-group col-md-4 ajuste">
          <label for="categoryId">Categoria</label>
          <select class="form-control ajuste" name="categoryId" formControlName="categoryId" id="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>

          <div class="text-danger" *ngIf="resourceForm.get('categoryId').invalid && resourceForm.get('categoryId').touched">
            <div *ngIf="resourceForm.get('categoryId').errors.required">Dados obrigatórios</div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <!--Descrição-->
        <div class="form-group col-md-4">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" formControlName="description" id="description">
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no Servidor:</strong><br>
    <ul>
      <li *ngFor=""let error of serverErrorMessages>{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg right mt-3">Salvar</button>
</form>
