/* You can add global styles to this file, and also import other style files */
.active {
  .nav-link {
    color: rgba(255,255,255,1) !important;
  }
}

.right{
  float: right;
}

.adjustLeft {
  margin-left: 5px;
}
